@import "./scss/variables.scss";
@import "./scss/home.scss";
@import "./scss/input.scss";
@import "./scss/button.scss";
@import "./scss/header.scss";
@import "./scss/search.scss";
@import "./scss/moto-card.scss";
@import "./scss/type.scss";
@import "./scss/slider.scss";
@import "./scss/aside-modal.scss";
@import "./scss/moto-details.scss";
@import "./scss/youtube-videos.scss";
@import "./scss/images.scss";
@import "./scss/contact-us.scss";
@import "./scss/footer.scss";
@import "./scss/terms.scss";
@import "./scss/privacy-policy.scss";
@import "./scss/compare.scss";
@import "./scss/search-input.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-albert !important;

  .app {
    background: url("../public/images/background2.jpg") no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $medium-grey;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba($black, 0.6);
}