@import "./variables.scss";

.aside-modal {
    padding: 20px;
    position: fixed;
    top: 0;
    right: -95vw;
    width: 95vw;
    max-width: 700px;
    background-color: $light-blue;
    height: 100vh;
    z-index: 100;
    transition: 0.5s;
    box-sizing: border-box;
    overflow-y: auto;


    @media screen and (max-width: $screen-mobile) {
        padding: 1rem;
    }

    &.active {
        right: 0 !important;
        box-shadow: 0 0 10px $white;
    }
}
