@import "./variables.scss";

.header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    color: white;

    a {
        text-decoration: none;

        .header-item {
            font-size: 24px;
            color: white;

            &.active {
                font-weight: $font-weight-bold;
            }

            &:hover {
                color: rgba(white, 0.8);
            }
        }
    }
}
