@import "./variables.scss";

.home {
    display: flex;

    .home-center {
        margin: 20px auto;
        padding: 20px;

        .home-types {
            display: grid;
            grid-auto-rows: 1fr;
            grid-template-columns: repeat(6, minmax(auto, 1fr));
            gap: 12px;
        }

        .home-search {
            width: 500px;
            margin: 30px auto;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .home-results {
            display: grid;
            grid-auto-rows: 1fr;
            grid-template-columns: repeat(3, minmax(auto, 1fr));
            gap: 20px;
        }
    }
}
