@import "./variables.scss";

.home {
    display: flex;

    .home-center {
        margin: 20px auto;
        padding: 20px;
        width: 100%;
        
        @media screen and (max-width: $screen-mobile) {
           margin: 0;
        }

        .home-types {
            display: grid;
            grid-auto-rows: 1fr;
            grid-template-columns: repeat(6, minmax(auto, 265px));
            justify-content: center;
            gap: 12px;

            @media screen and (max-width: $screen-mobile) {
                grid-template-columns: repeat(2, minmax(auto, 1fr));
            }
        }

        .home-search {
            width: 500px;
            margin: 30px auto;
            display: flex;
            flex-direction: column;
            gap: 20px;

            @media screen and (max-width: $screen-mobile) {
                width: 100%;
            }
        }

        .home-results {
            display: grid;
            margin: 0 auto;
            grid-auto-rows: 1fr;
            grid-template-columns: repeat(3, minmax(auto, 1fr));
            gap: 20px;
            max-width: 1200px;
        }
    }
}
