@import "./variables.scss";

.search {
    margin-top: 20px;
    padding: 20px;
   
    @media screen and (max-width: $screen-mobile) {
        margin-top: 0;
    }

    .search-form {
        height: 100%;
        width: 500px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media screen and (max-width: $screen-mobile) {
            width: 100%;
        }
    }

    .search-results {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: repeat(3, minmax(auto, 1fr));
        margin: 40px auto 0 auto;
        max-width: 1200px;
        gap: 30px;
        padding-bottom: 20px;

        @media screen and (max-width: $screen-mobile) {
            grid-template-columns: repeat(1, minmax(auto, 1fr));
            gap: 10px;
        }
    }
}
