@import "./variables.scss";

.search {
    margin-top: 5%;
   
    .search-form {
        height: 100%;
        width: 500px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .search-results {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: repeat(3, minmax(auto, 1fr));
        margin: 40px auto 0 auto;
        max-width: 1200px;
        gap: 30px;
        padding-bottom: 20px;
    }
}
