@import "./variables.scss";

.search {
    display: flex;

    .search-center {
        height: 100%;
        min-width: 500px;
        margin: 10% auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
