@import "variables";

.textarea {
  textarea {
    height: 7rem;
    box-sizing: border-box;
    border-radius: $border-radius;
    outline: none;
    border: 1px solid $light-grey;
    padding: 12px;
    font-size: 20px;
    font-family: $font-albert;
    box-shadow: 0 0 3px $light-blue;
    resize: vertical;
    color: $black;

    &:hover {
      border: 1px solid $medium-grey;
    }

    &:active,
    &:focus {
      border: 1px solid $dark-blue;
    }

    &[disabled] {
      background-color: $light-grey;
    }
  }
}