$font-albert: 'Albert Sans', sans-serif;
$border-radius: 6px;

$black: #493E3D;
$light-grey: rgb(216, 215, 215);
$medium-grey: rgb(184, 184, 184);
$light-blue: rgb(192 220 255);
$dark-blue: rgb(3, 6, 145);
$orange: rgb(247, 58, 0);
$dark-orange: rgb(202, 47, 0);

$font-weight-normal: 400;
$font-weight-regular: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;